[submodule "CSC_351_project_1"]
	path = CSC_351_project_1
	url = https://github.com/Drum4life9/CSC_351_project_1
[submodule "project_2"]
	path = project_2
	url = https://github.com/CDS-at-LVC/project2-comp-bois-ariel-brian-brady
[submodule "project_3"]
	path = project_3
	url = https://github.com/CDS-at-LVC/project3-rest-in-peace